#container {
    padding-top: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 10vw 20px 10vw;
    gap: 30px 40px;
}

#column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

#back {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

#volunteers_numbers {
    list-style: none;
    padding-bottom: 15px;
}

#description {
    width: 100%;
}

#information, #location {
    margin-left: 20px;
    line-height: 1.8;
}

#location {
    display: list-item;
    list-style-type: disc;
}

img {
    background-color: rgb(170, 139, 240);
    max-height: 35vh;
    margin: 5px;
}

#shift-btn {
    display: flex;
}

#shift-btn label {
    display: flex;
    flex: 1;
    background-color: rgb(197, 197, 197);
    cursor: pointer;
    margin: 5px;
    padding: 5px 5px 5px 15px;
    border-radius: 20px;
    max-width: auto;
}

#shift-btn input[type="checkbox"] {
    margin: 3px 10px 0 0;
}

.checkbox-round {
    width: 1.3vw;
    height: 1.3vw;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: rgb(170, 139, 240);
}

#sign-in {
    cursor: pointer;
    background-color: rgb(197, 197, 197);
    padding: 5px;
    margin: 10px 0 10px 0;
    border: 0;
    border-radius: 10px;
    width: 100%;
    height: 10vh;
    font-size: x-large;
}

@media screen and (max-width: 768px) {
    #column {
        flex-basis: 200%;
    }

    .photo {
        order: 1;
    }

    .location {
        order: 2;
    }

    .signin {
        order: 2;
    }

    #shift-btn input[type="checkbox"] {
        margin: 13px 10px 0 0;
    }

    .checkbox-round {
        width: 3vw;
        height: 3vw;
    }
}