#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5vh 5vw 0 5vw;
    gap: 10px 30px;
}

#back {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

#column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

#volunteers_numbers {
    list-style: none;
}

img {
    background-color: rgb(170, 139, 240);
}

#description {
    width: 100%;
}