@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
  }

#container {
    padding-top: 65px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 9vw 0 9vw;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

#filters {
    width: 100%;
}

#options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
}

#options:after {
    content: "";
    display: table;
    clear: both;
}

#selectInput, #datePicker{
    float: left;
    padding: 10px;
    height: 50px;
    width: 23%;
    min-width: 175px;
    padding: 20px;
    background-color: #F5F5F5;
    cursor: pointer;
    padding: 5px 5px 5px 15px;
    border-radius: 5px;
    border: 0px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

#datePicker {
    width: 100%;
}

.react-datepicker-wrapper {
    min-width: 175px;
    width: 23%;
}

.checkbox-round {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    aspect-ratio: 1;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: rgb(170, 139, 240);
}

.chosen-tags-container, .checkbox-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.chosen-tags, .select-boolean {
    display: flex;
    width: auto;
    background-color: rgb(197, 197, 197);
    cursor: pointer;
    margin: 5px;
    padding: 5px 5px 5px 15px;
    border-radius: 20px;
}

.select-boolean {
    background-color: rgb(142, 142, 142);
    height: 40px;
    padding-top: 9px;
}

.checkbox-container input {
    margin: 0.5px 0 0 5px;
}

.icon {
    width: 1.4em;
    height: 1.4em;
    margin-top: 0.5px;
}

@media screen and (max-width: 768px) {
    #container {
        justify-content: left;
    }

    #filters {
        padding-left: 2vw;
    }

    #selectInput, #datePicker{
        width: 69vw;
    }
}

@media screen and (min-width: 767px) {
    #filters {
        padding-left: 1%;
    }
}