@import './common.scss';

.admin_home_page_container {
    margin-bottom: 50px;
    margin-top: 40px; 

    .admin-panel-add-search-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
      
        .admin-panel-search-bar {
          flex-grow: 1;
          margin-left: 20px;
      
          input {
            width: 45vw;
            border: 1px solid #ccc;
            border-radius: 4px;
          }
        }
      
        .admin-panel-add {
          margin-right: 20px; 
          padding: 5px 10px;
          color: white;
          border: 2px solid rgb(39, 39, 39);
          border-radius: 4px;
          cursor: pointer;
        }
      }

    #admin_home_page_background_photo {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 100px;
        width: 100%;
        background: url("../images/hero.jpg") no-repeat 100% 40% / cover;
        margin: 0 auto;
        height: fit-content;
    }

    #admin_home_page_welcome_text {
        margin: 10vh 10vw;
        text-align: center;
        padding-bottom: 20px;
    }

    #admin_home_page_content {
        padding: 15px;
    }

    #admin_home_page_content h2 {
        text-align: left;
        margin: 20px;
    }

    .admin_home_page_text {
        text-align: left;
        padding-left: 20px;
        padding-top: 40px;
        margin-bottom: 25px;
    }

    .admin_home_page_text {
        margin-top: 30px;
    }

    .admin_home_page_text svg {
        height: 35px;
        width: 35px;
        vertical-align: middle;
    }

    #admin_home_page_panel {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 100px;
    }

    .admin_home_page_panel_column {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100px;
    }

    #admin_home_page_button {
        background-color: $color-2-orange;
        margin: 5px 5%;
        width: 90%;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
        font-size: $font-size-normall;
    }

    .card-content {
        padding: 1rem;
    }

    .grid-container {
        margin: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .grid-container-2 {
        margin: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    
    .grid-container-3 {
        margin: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    
    .grid-item {
        display: flex;
        flex-direction: column;
        gap: 0.5rem; 
    }

    .table-cell-action {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5rem; 
    }
    
    .delete-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .admin-panel-shift-card {
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        max-width: 90vw;

        .admin-panel-shift-card-entry{
            min-width: 300px;
        }
    }

    .pagination {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
    }
      
    .pagination__link {
        margin: 0 15px;
        padding: 8px 16px;
        border: 1px solid #ddd;
        border-radius: 10px;
        color: $color-1-blue;
        cursor: pointer;
        text-decoration: none;
    }

    .pagination__page {
        margin: 0 5px;
    }
    
    .pagination__link:hover {
    background-color: #f5f5f5;
    }
    
    .pagination__link--active {
        background-color: $color-1-blue;
        color: white;
        border: 1px solid $color-1-blue;
        border-radius: 5px;
        padding: 0 5px;
    }

    .pagination__link--disabled {
        display: none;
    }

    @media screen and (max-width: 730px) {
        #admin_home_page_panel {
            flex-direction: column;
            padding-bottom: 10px;
        }

        .admin_home_page_text {
            margin-top: 50px;

            #admin_home_page_icon {
                display: none;
            }
        }

        .admin-panel-search-bar {
            width: 90vw;
            margin-bottom: 30px;
            margin-left: 20px;
        }
    }
}