// colours
$color-text: #282c34;
$color-backgroud: #f5f5f5;
$color-1-blue: #3769cb;
$color-2-orange: #fbcc71;
$color-3-yellow: #fbf79c;

// fonts
$font-family-default: 'Open Sans', sans-serif;
$font-size-normall: 16px;
$font-size-large: 32px;

@import 'https://fonts.googleapis.com/css2?family=Open+Sans&display=swap';

* {
  font-size: $font-size-normall;
  font-family: $font-family_default;
  color: $color-text;
}
