@import './common.scss';

$background-color_1: rgb(170, 139, 240); // to be removed when fetching photos will be implemented

.details_container {
  padding-top: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 10vw 20px 10vw;
  gap: 30px 40px;

  #column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  // to be tested when fetching photos will be implemented
  img {
    background-color: $background-color_1;
    max-height: 35vh;
    margin: 5px;
  }

  #back {
    font-size: $font-size-normall;
    text-decoration: none;
  }

  #back_arrow {
    margin: -1px;
  }

  a {

    &:hover,
    &:visited {
      color: inherit;
    }
  }

  #title {
    font-size: $font-size-large;
    text-align: left;
  }

  #volunteers_numbers {
    list-style: none;
    padding-bottom: 15px;
    padding-top: 10px;
  }

  #information {
    line-height: 2;
    padding: 0px;

    li {
      list-style: none;
    }

    #icon {
      margin: -2.3px;
      margin-right: 5px;
    }
  }

  #extra_information {
    width: 100%;
  }

  #description {
    width: 100%;
  }

  iframe {
    width: 90%;
    height: 35vh;
    border: none;
  }

  #more-events {
    width: 100%;
  }

  #sign-in {
    cursor: pointer;
    font-size: $font-size-large;
    background-color: $color-2-orange;
    padding: 5px;
    margin: 10px 0 10px 0;
    border: 0;
    border-radius: 10px;
    width: 100%;
    height: 10vh;
    font-size: x-large;
  }
}

@media screen and (max-width: 768px) {
  .details_container {
    #column {
      flex-basis: 200%;
    }

    .photo {
      order: 1;
    }

    .location {
      order: 2;
    }

    .signin {
      order: 2;
    }

    #more-events {
      order: 3;
    }

    iframe {
      width: 100%;
    }
  }
}
