@import './common.scss';

#event_card_to_moderate {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.1s;
    border-radius: 7px;
    width: 275px;
    height: fit-content;
    margin: 15px;
    background-color: $color-backgroud;
    cursor: pointer;
    overflow: hidden;

    #event_card_to_moderate_card_img {
        height: 200px;
        background-color: blueviolet; // to be removed later on, it's just to mimic img
    }

    &:hover {
        box-shadow: 0 10px 24px 0 rgba(18, 18, 18, 0.247);
    }
    
    #event_card_to_moderate_card_img img {
        transition: 0.1s;
        width: 100%;
        height: 200px;
        object-fit: cover;
        -moz-border-radius: 0px;
        -webkit-border-radius: 7px 7px 0px 0px;
        border-radius: 7px 7px 0px 0px;
    }
    
    #event_card_to_moderate_title {
        text-align: left;
        margin: 0px;
        font-weight: bolder;
    }

    #event_card_to_moderate_icon {
        vertical-align: middle;
    }

    #event_card_to_moderate_information {
        padding: 5px 10px;
        
        ul {
            li {
            list-style-type: none;
            
            &:nth-last-child(2) {
                padding-left: 20px;
            }
            
            &:last-child {
                padding-left: 20px;
            }
            }
        }
    }

    #event_card_to_moderate_button {
        background-color: $color-3-yellow;
        margin: 10px 5%;
        width: 90%;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
        font-size: $font-size-normall;
    }

    @media screen and (max-width: 768px) {
        .card {
            width: 275px;
            height: 600px;
            
            img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            }
        }
    }
}
