@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.1s;
    border-radius: 7px;
    width: 275px;
    height: 600px;
    margin: 15px;
    background-color: #F5F5F5;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

h2 {
    font-size: 32px;
    font-weight: normal;
    padding-bottom: 10px;
}

.card:hover {
    box-shadow: 0 10px 24px 0 rgba(18, 18, 18, 0.247);
}

.card img {
    transition: 0.1s;
    width: 275px;
    height: 275px;
    background-size: contain;
    -moz-border-radius: 0px;
    -webkit-border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;
}

#information {
    padding: 5px 15px 15px 15px;
}

#information ul li {
    list-style-type: none;
}

#information ul li:nth-last-child(2),
#information ul li:last-child {
    padding-left: 21px;
}

@media screen and (max-width: 768px) {
    .card {
        width: 275px;
        height: 600px;
    }

    .card img {
        width: 275px;
        height: 275px;
        background-size: contain;
    }
}