@import "./common.scss";

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #F5F5F5;
  height: 65px;
  position: fixed;
  top: 0;
  width: 100%;
}

img {
  height: 60px;
  width: 100px;
}

#logo {
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  color: #282c34;
}

#langauges-select:hover{
  font-weight: bold;
  color: #3769CB;
  cursor: pointer;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #282c34;
}

#navbar li select {
  border: 0px;
  outline: 0px;
  background-color: whitesmoke;
  font-size: 16px;
  font-weight: 500;
}

#navbar li a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #3769CB;
}

#mobile {
  display: none;
}

#mobile i {
  color: #282c34;
}

@media screen and (max-width: 768px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 65px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: gold;
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 20px;
  }

  #navbar li select {
    border: 0px;
    outline: 0px;
    background-color: gold;
    font-size: 16px;
    font-weight: 500;
  }

  #mobile {
    display: block;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}