$color_1: #282c34;
$color_2: #3769cb;
$background-color_1: #f5f5f5;
$background-color_2: whitesmoke;
$background-color_3: gold;

@import './common.scss';
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: $background-color_1;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  img {
  height: 60px;
  width: 100px;
}
}

#logo {
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  color: $color_1;
}
#langauges-select {
  &:hover {
    font-weight: bold;
    color: $color_2;
    cursor: pointer;
  }
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: right;

  li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    text-align: center;
    a {
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
      color: $color_1;
      &:hover {
        text-decoration: none;
        font-weight: bold;
        color: $color_2;
      }
    }
    select {
      border: 0px;
      outline: 0px;
      background-color: $background-color_2;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
#mobile {
  display: none;
  i {
    color: $color_1;
  }
}
@media screen and (max-width: 1065px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 50px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: $background-color_2;
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
    li {
      text-align: center;
      margin-bottom: 20px;
      select {
        border: 0px;
        outline: 0px;
        background-color: $background-color_2;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  #navbar.active {
    right: 0px;
  }
  #mobile {
    display: block;
    i {
      font-size: 24px;
      cursor: pointer;
    }
  }
}