.create_event_div {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    height: auto; 
    width: 800px;
    margin: 100px auto;
  }
  
  .create_event_title{ 
    display: flex;
    justify-content: flex-start;
    font-size: 2,5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .create_event_sub-title{ 
    font-size: 1rem;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .name-container {
    display: flex;
    justify-content: flex-start; 
    gap: 20px; 
  }
  
  .name-field {
    display: flex;
    flex-direction: column;
    flex: 0 0 49%
  }
  
  .create_event-from_input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .create_event-from_input_textbox {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    resize:none
  }
  .create_event-from_input_dropdown{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color:#ffffff;
    resize: none;
  }
  label {
    font-weight: 400;
    font-size: 25px;
  }

  
  .password-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .checkbox_create_event-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%; 
  }
  
  .checkbox_create_event-container input {
    margin-right: 10px; 
  }
  
  .checkbox_create_event-container label {
    font-size: 1em; 
  }
  
  .checkbox_create_event-group {
    display: flex;
    flex-direction: column;
    label {
      font-size: 1em; // Adjust this to control the size of the checkbox text
    }
    input{
      margin-right: 10px;
    }
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .line-text {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    hr {
      flex-grow: 1;
    }
  
    p {
      margin: 0 10px;
    }
  }
  
  .create_event-form_button{
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .create_event-form_register-text {
    font-size: 14px;
    text-align: center;
  }
  
  .error {
    margin-top: -10px;
    color: red;
    font-size: 12px;
    margin-left: 5px;
  }
  .create_event_address-form{
    display: flex;
    flex-direction: column;
  }