@import './common.scss';

#organiser-create-event-container {
  padding-top: 65px;
  margin-bottom: 20px;

  .organiser-create-event-event-data{
    width: 50vw;
  }

  .organiser-create-event-two-columns{
    display: flex;
    flex-direction: row;
    margin: 20px 0;

    .organiser-create-event-two-columns-item{
      width: 60%;
      &:first-child{
        margin-right: 30px;
      }
    }
  }

  .organiser-create-event-grid:after {
    content: "";
    display: table;
    clear: both;
  }

  .organiser-create-event-row {
    margin-bottom: 20px;
    float: left;
    width: 50%;
    padding: 10px;
  }

  .organiser-create-event-submit-button-wrapper {
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  #organiser-create-event-container {
    padding-left: 5vw;
    padding-right: 5vw;

    .organiser-create-event-event-data{
      width: 90vw;
    }

    .organiser-create-event-row {
      width: 100%;
    }
  }
}