@import './common.scss';

.organiser_event_list_display_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3px 20px;
    padding-bottom: 15px;

    #organiser_event_list_delete_button{
        cursor: pointer;
        background-color: $color-4-red;
        width: 120px;
        height: 50px;
        padding: 3px;
        border-radius: 7px;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        color: white;
        font-weight: bold;
        &:hover {
            background-color: $color-4-red-hover;
        }
    }
    #organiser_event_list_button{
        color: #2b6cb0;
        background-color: white;
        border: 3px solid #3769cb;
        width: 120px;
        font-weight: 500;
        border-radius: .375rem;
        font-size: .875rem;
        padding: .625rem 1.25rem;
        text-align: center;
        margin-right: .5rem;
        margin-bottom: .5rem;
        &:hover {
            background-color: #e7e7e7;
        }
    }

    .column:first-child {
        width: 30vw;
    }

    .column {
        width: 13vw;
        margin: 1px;
        padding: 10px;
    }
    .column_buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
    }

    .column:nth-child(n+4){
        height: fit-content;
        width: 8vw;
        text-align: center;
        cursor: pointer;
    }

    @media screen and (max-width: 1268px) {
        .column:first-child {
            width: 100%;
        }
    
        .column {
            width: 48%;
            margin: 1px;
            padding: 10px;
        }
    }

    @media screen and (max-width: 700px) {
        .column, .column:first-child {
            width: 100%;
        }

        .column:nth-child(n+4){
            margin: 3px;
            width: 30%;
        }
    }
}