@import './common.scss';

.reset-password{
    margin: 80px 10vw 20px 10vw;

    .reset-password-container {
        padding-top: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    
        .reset-password-card {
            width: 400px;
            margin: auto;
            padding: 20px;
            background-color: #f2f2f2;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .reset-password-tip{
            color: grey;
        }

        .reset-password-buttons {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 10px;
        }        

        #reset-password-btn {
            height: 50px;
            margin: 0;
            width: 150px;
        }
    }
}