@import './common.scss';

.reset-password-container {
    padding-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 10vw 20px 10vw;

}