@import './common.scss';

.shift_checkbox {
    background-color: $color-3-yellow;
    border-radius: 30px;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    margin: 10px;
}

#shift_hours {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-right: 4px;
    vertical-align: auto;
    background-color: $color-backgroud;
    border: 1px solid $color-text;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

#shift_hours:checked {
    background-color: $color-2-orange;
}

#shift_num_of_volunteers {
    padding-left: 30px;
}