@import './common.scss';

.volunteer_entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;

    .volunteer_entry_text {
        flex: 1;
    }

    .volunteer_entry_phone {
        flex: 1;
        text-align: center;
    }

    .volunteer_entry_email {
        flex: 1;
        text-align: right;
    }

}