@import './common.scss';

.volunteer_home_page {

    #volunteer_home_page_your_events{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        padding: 0px 30px;
        margin-bottom: 10px;
        font-size: $font-size-normall;
        max-width: 100%;
        margin: 5vh 0vw;
    }

    #volunteer_home_page_text{
        margin-left: 20px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 730px) {
    #volunteer_home_page_your_events{
        margin: 0px;
    }
}