@import './common.scss';

.volunteer_entry {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 10px;

    .volunteer_entry_text{
        flex-grow: 1;
    }

    .volunteer_entry_phone{
        flex-shrink: 0;
        margin-left: auto;
        margin-right: 10vw;
    }
}