@import './common.scss';

.your_event_volunteer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .your_event_volunteer_event_item {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 10px 20px;
    }

    #your_event_volunteer_event_name {
        min-width: 30%;
    }

    #your_event_volunteer_event_address {
        min-width: 20%;
    }

    #your_event_volunteer_event_sign_off_button {
        cursor: pointer;
        background-color: $color-4-red;
        width: auto;
        height: auto;
        padding: 3px;
        border-radius: 7px;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;

        #your_event_volunteer_event_sign_off_button span {
            color: white;
        }
    }
}

@media screen and (max-width: 730px) {
    .your_event_volunteer {
        padding: 0px;

        #your_event_volunteer_event_date {
            order: 0;
            min-width: 35%;
        }
    
        #your_event_volunteer_event_name {
            min-width: 100%;
        }
    
        #your_event_volunteer_event_address {
            min-width: 100%;
            order: 1;
        }
    
        #your_event_volunteer_event_sign_off_button {
            order: 2;
            text-align: center;
        }
    }
}